/* mobile first */
*{
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box; 
}

.content{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.content h1{
    margin: 0;
}

.hidden{
    display: none;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
