/* mobile first */
.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    list-style: none;
    margin: 0 1rem;
    padding: 0;
}

/*types*/
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
/*</types>*/


.pokemon{
    display: flex;
    flex-direction: column;

    cursor: pointer;

    margin: 0.5rem;
    padding: 1rem 1rem; 
    border-radius: 1rem;
}
.pokemon:hover{
    filter: brightness(1.1);
}


.pokemon .number{
    color: rgba(245, 245, 245, 0.706);
    text-align: right;
    font-size: 0.825rem;
}

.pokemon .name {
    color: white;
    margin: 0.25rem 0;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    filter: brightness(1.1);

    color: white;
    border-radius: 0.625rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-size: .895rem;
    margin: 0.25rem 0;

}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
}

.pokemon .detail img{
    max-width: 100%;
    height: 70px;

}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button{
    background-color: #725a9f;
    cursor: pointer;
    
    border-radius: 1rem;
    border: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    
    width: 50%;
    height: 4rem;
    
    color: white;
    font-size: 0.8rem;
    font-weight: 1000;
}

button:hover{
    filter: brightness(1.2);
    font-size: medium;
    transition:ease-in-out 100ms;
}

#moreDetails {
    font-family:  'Noto Serif',sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c1c1c1ed;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(72, 72, 72, 0.781);
    width: 50%;
    height: 80%;
    z-index: 3;
  }

  #moreDetails-header{
    display: flex;
    justify-content: start;
    gap: 12rem;
    padding: 0.5rem 1rem;
  }

  #close-btn{
    background-color: transparent;
    position: absolute;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px -5px 0 0.5px #000 inset;
    border: solid transparent;
    border-width: 10 10 5px 5px;
    transform: rotate(45deg);
  }
  #close-btn:hover{
    cursor: pointer;
    transition: all 0.2s ease;
  }

  #moreDetails-header h1{
    justify-self: center;
  }

  #moreDetails-content{
    padding: 1rem 1.5rem;
  }

/* media query */

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 576px){
    #moreDetails{
        width: 90%;
        height: 80%;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}